h1 {
  text-align: center;
  color: sienna;
}

body {
 background-color: #99FFFF;
}

#input {
  text-align: center;
 
}

#randomDiv {
  text-align: center;
}

div {
  text-align: center;
}

#video {
  text-align: center;
}

#searchDiv {
  text-align: center;
}

#bordered {
  text-align: center;  
}

.panel-body
{
        background-color: white;
        border-style: solid;
        border-width: 2px;
        border-color: black;
}

#photos ul
{
	list-style-type: none;
	display:block;
	margin: auto;

}

#photos li
{
	display: inline-block;
	margin: 0 auto;

}

