@import 'https://fonts.googleapis.com/css?family=Kavoon';

@import 'https://fonts.googleapis.com/css?family=Concert+One';
@import 'https://fonts.googleapis.com/css?family=Ewert';

h1 {
  text-align: center;
  color: sienna;
	font-family: 'Ewert', cursive;
}

body {
 background-color: #deb887;
 height: 100%;
}

#input {
  text-align: center;
 
}

#randomDiv {
  text-align: center;
}

div {
  text-align: center;
}

#petfinder {
  height: 350px;
}

#video {
  text-align: center;
  height: 400px;
}

#searchDiv {
  text-align: center;
}

#bordered {
  text-align: center;  
}

.panel-body
{
        background-color: #ffebcd;
        border-style: solid;
        border-width: 2px;
        border-color: black;
}

#photos ul
{
	list-style-type: none;
	display:block;
	margin: auto;

}

#photos li
{
	display: inline-block;
	margin: 0 auto;
	
}
#photos li img
{
	transition:height 0.5s ease;
	max-height: 350px;
	height: 250px;
}

#photos li img:hover
{
	height :325px;
	transition:height 0.5s ease;
}

#photos p
{
	font-size:24px;
	font-family: 'Concert One', cursive;
}
